venv/
test_data/
data/
snapshots/

__pycache__
*.pyc
.pytest_cache
.git.
.gitignore
README.md
.DS_Store

node_modules
!frontend/ingestion/node_modules
!frontend/dashboard/node_modules

ingestion_flow.py
db_api_ingestion.py