# Python virtual environment
venv/

# macOS system files
.DS_Store

# Python cache files
__pycache__/

# Environment variables
.env

# Jupyter notebooks
*.ipynb

# Data and snapshots
/data
/snapshots
/test_data
/workspace

# Helper scripts
test_snapshots.py
test_api.py

# Package manager lock files
package-lock.json

# Node modules and build files
frontend/node_modules
frontend/build

# Dependency lock files (
frontend/package-lock.json

# Data Details
details.json

